[Desktop Entry]
Version=1.0
Name=WM Switcher (Qt4 version)
Comment=Switch between available window managers with one click
Exec=wm-switcher-qt4
Icon=preferences-system-windows
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;
StartupNotify=false
X-XfcePluggable=false
X-XfceHelpPage=display
